<p class="text-md leading-8 ">Jan is a Berlin based Editor originally from Cologne. Being a film and video enthusiast from an early age on, he spent his childhood learning about films and of course making them as well. It didn’t take long for him to take over the course and he started teaching children and young adults alike.

  Naturally Jan started an apprenticeship in the media business and was hired as head of editing at a reputable agency learning about the ins and outs of the biz and gathering experience.
  
  Not stopping there, Jan wanted to deepen his knowledge and learn more so he went off to start studying editing and sound at one of Germany’s best universities for film. These days he works on global commercials that go viral, award winning and nominated feature films and critically acclaimed documentaries.</p>